// Fonts styles
@font-face {
  font-family: Book Antiqua;
  font-display: swap;
  src: url(../fonts/book-antiqua__allfont.net_.woff);
  font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url(../fonts/Ubuntu-R.woff);
  font-weight: normal;
	font-style: normal;
}