html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Ubuntu";
  font-style: normal;
  letter-spacing: 0.02em;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1300px;
}
