@import "reset";
@import "fonts";
@import "mixin";
@import "vars";
@import "libs";
@import "global";
@import "components/header";
@import "components/footer";

.info {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    @include mq("768") {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    display: block;
    color: #2b2b3e;
    @include mq("768") {
      margin-bottom: 15px;
      width: 100%;
    }
  }

  &__item + &__item {
    margin-left: 30px;
    @include mq("768") {
      margin-left: 0;
    }
  }

  &__top {
    display: flex;
    margin-bottom: 25px;
    color: #2b2b3e;
    transition: color 1s;

    &:hover {
      color: #5a061f;
    }
    @include mq("768") {
      margin-bottom: 15px;
    }
  }

  &__text {
    @include txt(3);
    max-width: 320px;
    font-family: "Book Antiqua";
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;

    &--first {
      color: #5a061f;
    }
    @include mq("768") {
      font-size: 14px;
      line-height: 13px;
    }
  }

  &__pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    max-width: 65px;
    max-height: 62px;
  }

  &__adress {
    @include txt(1);
    margin-bottom: 15px;
    max-width: 350px;
    @include mq("768") {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__work {
    @include txt(1);
    margin-top: 15px;
    max-width: 350px;
    @include mq("768") {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.events {
  &__inner {
    display: grid;
    grid-gap: 0.5vw;
    grid-template-areas:
      "af tic tic"
      "af serv virt";
    grid-template-columns: 49% 25% 25%;
    grid-template-rows: 38% 62%;
    margin-bottom: 100px;
    @include mq("1248") {
      min-width: 50vh;
    }
    @include mq("768") {
      min-height: 100%;
    }
  }

  &__item {
    position: relative;
    display: block;
    margin: 0 0 10px;
    max-width: 635px;
    transition: transform 0.6s;

    &::after {
      @include pseudo();
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0.6) 100%
      );
    }

    &:hover {
      transform: scale(1.02);
    }

    &--tic {
      align-self: baseline;
      grid-area: tic;
    }

    &--af {
      align-self: stretch;
      grid-area: af;
    }

    &--serv {
      align-self: baseline;
      grid-area: serv;
    }

    &--virt {
      align-self: baseline;
      grid-area: virt;
    }
  }

  &__pic {
    object-fit: cover;
  }

  &__text {
    @include pseudo();
    @include txt(2);
    left: 25px;
    bottom: 15px;
    z-index: 1;
    max-width: 300px;
    font-family: "Book Antiqua";
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #f9f6f3;
    @include mq("1248") {
      font-size: 21px;
      line-height: 20px;
    }
    @include mq("480") {
      font-size: 16px;
    }
  }
}

.news {
  margin-bottom: 100px;

  &__title {
    @include txt(2);
    margin-bottom: 40px;
    max-width: 400px;
    font-family: "Book Antiqua";
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    @include mq("768") {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    @include mq("1248") {
      justify-content: space-around;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    min-height: 390px;
    max-width: 400px;
  }

  &__item-3 {
    @include mq("1248") {
      display: none;
    }
  }

  &__item-2 {
    @include mq("480") {
      display: none;
    }
  }

  &__item + &__item {
    @include mq("1248") {
      margin-left: 20px;
    }
  }

  &__pic {
    margin-bottom: 30px;
    min-height: 214px;
    object-fit: cover;
  }

  &__date {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #cfa968;
  }

  &__text {
    @include txt(5);
    flex-grow: 1;
    min-width: 400px;
    font-size: 17px;
    line-height: 25px;
    @include mq("768") {
      font-size: 17px;
      line-height: 15px;
    }
  }

  &__link {
    display: flex;
    font-family: "Book Antiqua";
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #cfa968;

    &:hover .news__more {
      opacity: 1;
    }

    &:hover .news__img {
      margin-left: 10px;
    }
  }

  &__more {
    margin-right: 10px;
    opacity: 0;
    transition: opacity 1s;
    @include mq("768") {
      transform: none;
    }
  }

  &__img {
    margin-left: -95px;
    transition: margin-left 1s;
    @include mq("768") {
      margin-left: 0;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    border: 2px solid #d6b888;
    padding: 10px 51px;
    font-family: "Book Antiqua";
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #cfa968;
    transition: color, border, 1s;
    cursor: pointer;

    &:hover {
      border: 2px solid #2b2b3e;
      color: #2b2b3e;
    }
  }
}

.gallery {
  margin-bottom: 100px;

  &__slider {
    position: relative;

    .slick-prev,
    .slick-next {
      position: absolute;
      bottom: -30px;
      z-index: 1;
      display: flex;
      justify-content: center;
      width: 100%;
      cursor: pointer;
    }

    .slick-next {
      left: 40px;
    }

    .slick-prev {
      right: 40px;
    }
  }

  &__slide {
    margin-right: 10px;
  }

  &__slide-pic {
    margin-right: 10px;
    max-height: 350px;
    object-fit: contain;
  }
}

.partners {
  margin-bottom: 100px;

  &__slider {
    .slick-prev,
    .slick-next {
      position: absolute;
      bottom: -30px;
      z-index: 1;
      display: flex;
      justify-content: center;
      width: 100%;
      cursor: pointer;
    }

    .slick-next {
      left: 40px;
    }

    .slick-prev {
      right: 40px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    height: 50px;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
  }

  &__logo {
    margin-right: 10px;
    max-width: 70px;
    max-height: 70px;
    object-fit: cover;
  }

  &__desc {
    @include txt(2);
    max-width: 270px;
  }
}
