<header class="header">
  <div class="header__top">
    <div class="container">
      <ul class="look">
        <li class="look__item">
          <a class="look__link" href="#">
            <svg class="look__pic-search">
              <use xlink:href="images/dest/sprite.svg#header-search"></use>
            </svg>
          </a>
        </li>
        <li class="look__item">
          <a class="look__link look__btn" href="#"> Купить билет </a>
        </li>
        <li class="look__item">
          <a class="look__link" href="tel:+73467330868"> +7 (3467) 33-08-68 </a>
        </li>
        <li class="look__item">
          <a class="look__link" href="#">
            <svg class="look__pic-eye">
              <use xlink:href="images/dest/sprite.svg#header-look"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <nav class="menu">
      <div class="container">
        <div class="menu__inner">
          <a class="menu__img-link" href="#">
            <img class="menu__logo" src="images/dest/logo.png" />
          </a>
          <!-- <p class="menu__text">Государственный художественный музей</p> -->
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#banner">Афиша</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#news">Новости</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#gallery">Коллекции</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#events">Выставки</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">О музее</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#info">Филиалы</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Посетителям</a>
            </li>
          </ul>
          <button class="menu__btn" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="18"
              viewBox="0 0 30 18"
              fill="none"
            >
              <path d="M0 0H30V2H0V0Z" fill="white" />
              <path d="M0 8H30V10H0V8Z" fill="white" />
              <rect y="16" width="30" height="2" fill="white" />
            </svg>
          </button>
        </div>
      </div>
    </nav>
  </div>

  <div class="banner" id="banner">
    <div
      class="banner__item"
      style="background-image: url(images/dest/header-bg.jpg)"
    >
      <div class="banner__slide">
        <div class="container banner__container">
          <p class="banner__title">Основной баннер</p>
          <p class="banner__sub-title">
            содержащий графический материал с информацией о проводимых
            мероприятиях
          </p>
          <a class="banner__more" href="">Подробнее</a>
        </div>
      </div>
    </div>

    <div
      class="banner__item"
      style="background-image: url(images/dest/header-bg.jpg)"
    >
      <div class="banner__slide">
        <div class="container banner__container">
          <p class="banner__title">Основной баннер</p>
          <p class="banner__sub-title">
            содержащий графический материал с информацией о проводимых
            мероприятиях
          </p>
          <a class="banner__more" href="">Подробнее</a>
        </div>
      </div>
    </div>

    <div
      class="banner__item"
      style="background-image: url(images/dest/header-bg.jpg)"
    >
      <div class="banner__slide">
        <div class="container banner__container">
          <p class="banner__title">Основной баннер</p>
          <p class="banner__sub-title">
            содержащий графический материал с информацией о проводимых
            мероприятиях
          </p>
          <a class="banner__more" href="">Подробнее</a>
        </div>
      </div>
    </div>

    <div
      class="banner__item"
      style="background-image: url(images/dest/header-bg.jpg)"
    >
      <div class="banner__slide">
        <div class="container banner__container">
          <p class="banner__title">Основной баннер</p>
          <p class="banner__sub-title">
            содержащий графический материал с информацией о проводимых
            мероприятиях
          </p>
          <a class="banner__more" href="">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</header>
